# Python
*.pyc
*.pyo
.*_cache
wine-py2exe/
py2exe.log
build/
dist/
zip/
tmp/
venv/
.venv/
completions/
__pycache__/

# Lazy extractors
*/extractor/lazy_extractors.py

# Text Editor / IDE
.idea
*.iml
.vscode
*.sublime-*
*.code-workspace
*.swp

# Environment variables
.env

# Results directory - It contains subtitles  directory
subtitles/

# PDF manuals directory
src/manuals/

# Device manuals directory
src/device_manuals/

# Video reports directory
video_reports/


