# Python
*.pyc
*.pyo
.*_cache
wine-py2exe/
py2exe.log
build/
dist/
zip/
tmp/
venv/
.venv/
completions/
__pycache__/

# Lazy extractors
*/extractor/lazy_extractors.py

# Text Editor / IDE
.idea
*.iml
.vscode
*.sublime-*
*.code-workspace
*.swp

# Environment variables
.env

# Subtitles directory
subtitles/

# PDF Manuals Directory
src/manuals/

fotogrammi/

